.ant-empty-description {
	display: none;
}
html {
	body {
		color: #ddd;
		background-color: #121212;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $lightText;
		margin: 0;
	}
}
:root {
	--swiper-theme-color: $mainColor;
}
.CodeMirror {
	height: 100%;
}
